.movie__details {
  background-color: #1f214a;
  padding: 20px;
  height: 100%;
  color: white;
}

.btnBack {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  display: block;
  padding: 12px;
  /* width: 60px; */
  margin-bottom: 40px;
  transition: all 0.4s;
  position: fixed;
  top: 11%;
  right: 79%;
}

.btnBack:hover {
  background-color: blueviolet;
  transition: all 0.4s;
  transform: translateY(-2px);
}

.detailsOverview img {
  border-radius: 12px;
  border: 2px solid white;
  margin: 20px 0 20px 0;
}

.movieDescription {
  display: flex;
  font-size: large;
}

.movieDescription img {
  height: 30rem;
}

.movieDescription span {
  font-weight: 800;
}

.movieDescription > div {
  margin: 20px;
}

.movieDescription div p {
  margin: 1.5rem 0;
}

.plotStyle {
  text-align: justify;
}

.dataDetails {
  font-size: larger;

  margin-top: 20px;
  margin-left: 20px;
}

.ratingStyle {
  margin-top: 20px;
  background-color: white;
  border-radius: 12px;
  padding: 12px;
}

.ratingStyle button {
  background-color: #1f214a;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 12px;
}

.rated {
  color: black;
  font-size: medium;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .movie__details {
    background-color: #1f214a;
    padding: 20px;
    height: 100%;
    color: white;
  }

  .btnBack {
    padding: 12px;
    width: 30px;
    margin-bottom: 40px;
    transition: all 0.4s;
    position: fixed;
    top: 7%;
    left: 2%;
  }

  .movieDescription {
    display: block;
  }

  .movieDescription img {
    height: 20rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .MovieTitle {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #1f214a;
    padding: 10px;
    border: 1px solid white;
    width: 100%;
  }

  .ratingStyle {
    width: 100%;
    height: auto;
  }

  .rated {
    font-size: small;
    padding: 0;
  }
}
