.list__movies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.found__res {
  color: white;
  padding: 20px;
}

.item {
  flex: 1 1 15%;
  margin: 8px;
  cursor: pointer;
  color: white;
  list-style-type: none;
}

.item img {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  border: 2px solid white;
}

.item div {
  margin-bottom: 20px;
  text-wrap: wrap;
}

.pagination {
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: white;
  padding: 12px;
}

@media only screen and (max-width: 768px) {
  .found__res {
    font-size: 0.75rem;
  }

  /* .box__movie {
    position: relative;
  } */

  /* .list__movies {
    display: block;
  } */

  /* .list__movies {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
    padding: 10px; 
  }

  .item {
    margin: 0;
    width: calc(50% - 10px);
  }
  .item img {
    border-radius: 12px;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 6px;
  }

  .found__res {
    font-size: 0.75rem;
  }

  .pagination {
    margin-top: 20px;
  } */
}
