.list__movies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.found__res {
  color: white;
  padding: 20px;
}

.item {
  flex: 1 1 15%;
  margin: 8px;
  cursor: pointer;
  color: white;
  list-style-type: none;
}

.item img {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  transition: all 0.4s ease-in-out;
  border: 2px solid white;
}

.item div {
  margin-bottom: 20px;
  text-wrap: wrap;
}

.item img:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 6px 9px 12px 1px rgba(184, 184, 184, 1);
  -moz-box-shadow: 6px 9px 12px 1px rgba(184, 184, 184, 1);
  box-shadow: 6px 9px 12px 1px rgba(184, 184, 184, 1);
}

.pagination {
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: white;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .found__res {
    font-size: 0.75rem;
  }
}
