@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(62, 75, 92);
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body:hover::-webkit-scrollbar-thumb {
  background-color: white;
}

body:hover::-webkit-scrollbar-thumb:hover,
body:hover::-webkit-scrollbar-thumb:active {
  background-color: #555;
}

.separate__movie {
  display: flex;
}
/* When hovering over the container, show the scrollbar
.box:hover::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.box:hover::-webkit-scrollbar-thumb:hover,
.box:hover::-webkit-scrollbar-thumb:active {
  background-color: #555; */
